h2{
font-size: 60px;
}
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800; /* Puedes ajustar el peso de la fuente según tus preferencias */
    font-style: normal;
  }

  .nunito-sans-a {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 788;
    font-style: normal;
    font-variation-settings:
      "wdth" 92.7,
      "YTLC" 500;
  } 

.montserrat-a{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 555;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
}
body{
    background-color: #262626;
}
.navegador{
    background-color: rgb(188, 188, 188);
    position: fixed;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.extras{
    display: flex;
}
.logo{
    height: 100%;
}

nav a{
    /*margin-right: 0.4%;*/
    font-family:"Montserrat";
    width: 20px;
    text-decoration: none;
    color:rgb(255, 255, 255) ;
    border: 1px solid rgb(37, 37, 37);
    background-color: rgb(37, 37, 37);
    margin-right:4px;
    width: 46%;
    height: 30px;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.662);
    font-size: 16px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 8px;
    transition:background-color .4s ease;
}
.ensambler{
    height: 100%;
    display: flex;
    justify-content: center;
}
.alogo{
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    height: 100%;
    }
.alogo:hover{
    color: transparent;
    background-color:transparent; 
}
nav a:hover{
    color: rgb(218, 218, 218);
    background-color:rgb(98, 98, 98) ;
}
.contact{
    margin-right: 4px;
    color: rgb(255, 255, 255);
    background-color:rgb(9, 92, 38) ;
    transition:background-color .4s ease;
    width: 55%;
}
.contact:hover{
    background-color:rgb(17, 163, 68) ;
    color:rgb(205, 205, 205) ;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.content-img{
    margin-top: 60px;
    width: 75vw;
    height: 96vh;
    background-color:rgba(188, 188, 188, 0.121);
    border-radius: 80px;
    box-shadow: 0 0 9px rgb(100, 45, 45);
    /*border: 4px solid rgb(81, 43, 43);*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(7,1fr);
    overflow: hidden;
    gap: 9px;
    animation: inicio 1.5s ease-in;
}
@keyframes inicio{
    0%{
      opacity: 0;
      transform: translateY(10px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}
.content-img div{
    border-radius: 20px;
    transition: margin .3s ease;
    overflow: hidden;
    box-shadow: 3px 3px rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}
div .link{
color: transparent;
text-decoration: none;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
transition:all .4s ease;
}
.content-img1{
    grid-column: 1/2;
    grid-row: 1/6;
    display: none;
    background-image:url(6.jpg) ;
    background-size:cover ;
    background-position: center center;
    display: flex;
    justify-content: center;
}
.content-img2{
    grid-column: 2/3;
    grid-row: 2/6;
    background-image:url(2.jpg) ;
    background-size:cover ;
    background-position: center center;
    display: flex;
    justify-content: center;
}
 .content-img3{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#textbox{
    box-shadow: 0 3px rgb(27, 26, 26)
}
#textbox b:hover{
    background-color: transparent;
}
#textbox:hover{
    color: rgb(219, 219, 219);
    background-color: transparent;
}
#textbox .titulo1:hover{
color: rgb(20, 20, 20);
}
.content-img3 h2{
    display: flex;
    flex-direction: row;
    background-color: transparent;

}
.titulo{
    color: rgb(219, 219, 219);
    display: block;
}
.titulo1{
    color: rgb(20, 20, 20);
    display: block;
}
.content-img4{
    grid-row: 1/5;
    grid-column: 5/6;
    background-image:url(3.jpg) ;
    background-size:cover ;
    background-position: center center;
    display: flex;
    justify-content: center;
}
.content-img6{
    grid-row: 2/8;
    grid-column: 3/5;
    background-image:url(1.jpg) ;
    background-size:cover ;
    background-position: center center;
    display: flex;
    justify-content: center;
}
.content-img5{
    background-image:url(4.jpg) ;
    background-size:cover ;
    background-position: center center;
    display: flex;
    justify-content: center;
}
.content-img7{
    grid-column: 1/3;
    grid-row: 6/8;
    background-image:url(7.jpg) ;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: 0 -80px;
    display: flex;
    justify-content: center;
}
.content-img8{
    grid-column: 5/6;
    grid-row: 5/8;
    background-image:url(5.jpg) ;
    background-size:cover ;
    background-position: center center;
    display: flex;
    justify-content: center;
}
.content-img div:hover{
    margin: -5px;
}
.content-img3:hover{
margin: 0;
}
div .link:hover{
    background-color: rgba(62, 62, 62, 0.564);
    color: rgb(233, 229, 229)
}
footer{
    margin-top: 20px;
    background-color: rgb(48, 47, 47);
    width: 100%;
    display: flex;
    justify-content: center;
}
p{
    color: rgba(255, 255, 255, 0.367);
    width: 500px;
}
 
@media screen and (min-width: 450px) and  (max-width: 724px){
.content-img3{
    font-size: 10px;
}
}
@media screen and (max-width: 309px) {
    .content-img{
     grid-template-rows: repeat(8,1fr);
     grid-template-columns: repeat(8,1fr);
     width: 83vw;
     gap: 6px;
    }
    .link{
      font-size: 9px;  
    }
    .content-img1{
        grid-column: 1/3;
        grid-row: 2/5;  
    }
    .content-img2{
        grid-column: 6/9;
        grid-row: 1/2;  
    }
    .content-img3{
        grid-column: 1/6;
        grid-row: 1/2;  
    }
    .content-img4{
        grid-column: 7/9;
        grid-row: 2/5;  
    }
    .content-img5{
        grid-column: 3/7;
        grid-row: 2/5; 
    }
    .content-img6{
        grid-column: 1/6;
        grid-row: 5/8; 
    }
    .content-img7{
        grid-column: 1/9;
        grid-row: 8/9; 
    }
    .content-img8{
        grid-column: 6/9;
        grid-row: 5/8; 
    }
    .content-img3 h2{
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    padding-top: 10px;
    background-color: transparent;
}
.content-img3 b{
    height: 50%;
}}
@media screen and (min-width: 309px) and (max-width: 1238px) { 
    .content-img{
        grid-template-rows: repeat(10,1fr);
        grid-template-columns: repeat(10,1fr);
        width: 89vw;
        gap: 6px;
        margin-top: 90px;
       }
       .content-img1{
        grid-column: 1/4;
        grid-row: 2/8;  
    }
    .content-img2{
        grid-column: 6/9;
        grid-row: 1/2;  
    }
    .content-img3{
        grid-column: 1/6;
        grid-row: 1/2;  
    }
    .content-img4{
        grid-column: 9/11;
        grid-row: 1/6;  
        font-size: 10px;
    }
    .content-img5{
        grid-column: 9/11;
        grid-row: 6/8; 
        font-size: 10px;
    }
    .content-img6{
        grid-column: 4/9;
        grid-row: 2/8; 
    }
    .content-img7{
        display: flex;
        align-items: center;
        grid-column: 1/7;
        grid-row: 8/11; 
        background-position: 0 -150px;
    }
    .content-img8{
        grid-column: 7/11;
        grid-row: 8/11; 
    }
    .content-img3 h2{
            padding: 0;
            text-align: center;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction:row;
            font-size:120%;
            background-color: transparent;}
            .titulo1{
                color: rgb(14, 13, 13);
                font-size: 200%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .titulo{
                color: rgb(203, 202, 202);
                font-size: 200%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }     
        }
        @media screen and (min-width: 309px) and (max-width: 450px) {
            .content-img7{
                background-position: 0 -40px;
            }
            .titulo1{
                font-size: 100%;
                padding-left: 20px;
            }
            .titulo{
                font-size: 100%;
            }
        }