h2{
    font-size: 60px;
    }
    .playfair-display {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 800; /* Puedes ajustar el peso de la fuente según tus preferencias */
        font-style: normal;
      }
    
      .nunito-sans-a {
        font-family: "Nunito Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 788;
        font-style: normal;
        font-variation-settings:
          "wdth" 92.7,
          "YTLC" 500;
      } 
    .montserrat-a{
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 555;
      font-style: normal;
    }
    
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
    *{
        margin: 0;
        padding: 0;
        font-family: "Playfair Display";
    }
    body{
        background-color: rgb(37, 37, 37);
        display: flex;
        flex-direction: column;
    }
    .navegador{
        background-color: rgb(188, 188, 188);
        width: 100%;
        height: 6vh;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }
    .extras{
        display: flex;
        width: 60%;
    }
    .logo{
        height: 100%;
    }
    
    a{
        /*margin-right: 0.4%;*/
        font-family:"Montserrat";
        width: 20px;
        text-decoration: none;
        color:rgb(255, 255, 255) ;
        border: 1px solid rgb(37, 37, 37);
        width: 100%;
        height: 30px;
        box-shadow: 3px 2px rgba(0, 0, 0, 0.662);
        font-size: 16px;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 8px;
        transition:background-color .4s ease;
    }
    .ensambler{
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .alogo{
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin: 0;
        height: 100%;
        }
    .alogo:hover{
        color: transparent;
        background-color:transparent; 
    }
    a:hover{
        color: rgb(218, 218, 218);
        background-color:rgb(98, 98, 98) ;
    }
    .contact{
        margin-right: 4px;
        color: rgb(255, 255, 255);
        background-color:rgb(9, 92, 38) ;
        transition:background-color .4s ease;
        width: 100%;
    }
    .contact:hover{
        background-color:rgb(17, 163, 68) ;
        color:rgb(205, 205, 205) ;
    }
    .infobox{
        margin-top: 80px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid rgb(222, 216, 216);
    }
    .infobox div{
        display: flex;
        align-self: center;
        border: 1px dashed rgb(222, 216, 216);
    }
    .lightroom{
        flex-direction: row-reverse;
    }
    .infobox img{
    display: flex;
    align-items: center;
     width: 100px;
     height: 100px;
    }
    p{
        font-size: 20px;
        font-family: "roboto";
        color: rgb(222, 216, 216);
    }
    @media screen and (max-width: 712px) {
        .infobox{
           border: none;
           margin-top: 150px;
        }
    }